@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">);
:root{
     ---Cor-de-fundo:#4aca75;
     ---cor-de-fonte:#000000;

}

body{

   background-color: var(---Cor-de-fundo);
   color: var(---cor-de-fonte);
   text-align: justify;
}
