@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
     ---Cor-de-fundo:#4aca75;
     ---cor-de-fonte:#000000;

}

body{

   background-color: var(---Cor-de-fundo);
   color: var(---cor-de-fonte);
   text-align: justify;
}
